[Desktop Entry]
Comment[es]=Tema que imita a macos mojave
Comment=A translucent theme for Plasma 5
Name=Mojave-CT
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=zayronxio[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GLP V3.0
X-KDE-PluginInfo-Name=Mojave-CT
X-KDE-PluginInfo-Version=0.1
X-Plasma-API=5.0
